<%- include("./partials/header.ejs") %>

<body>
  <div class="success">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4><%= global.userEmail%></h4>
        </div>
        <div class="col-12">
          <h1>Welcome to the banking system</h1>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- script -->
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.js"></script> 
</body>
</html>