// signup page
.container-login {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .signup {
    border: 1px solid black;
    border-radius: 5%;
    width: 40%;
    height: auto;
    padding: 10px 10px;

    .button {
      padding-top: 20px;
      display: flex;
      justify-content: flex-end;
    }

    .sign-up {
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
    }
  }
  #emailError,
  #passwordError {
    color: red;
  }
}

// Navigation bar
.navbar-nav {
  display: flex;
  width: 100%;
  .logout {
    margin-left: 850px;
  }
}

// choice page
.choice {
  display: flex;
  .otp {
    height: 100vh;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .otp-btn {
      border: 1px solid white;
      width: 200px;
      height: 200px;
    }
    .backBtn-otp {
      visibility: hidden;
    }
  }
  .camera {
    height: 100vh;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .camera-btn {
      border: 1px solid white;
      width: 200px;
      height: 200px;
    }
    .backBtn-camera {
      visibility: hidden;
    }
  }
}
